.js-focus-visible :focus:not(.focus-visible)
    outline: none

button
    &:focus
        outline: 3px solid $blue-focus
        outline-offset: 2px
        transition: 0s
.button-send
    &:focus
        outline: 3px solid $blue-focus
        outline-offset: 2px
        transition: 0s
a
    &:focus
        outline: 3px solid $blue-focus
        outline-offset: 2px
        transition: 0s
input
    &:focus
        outline: 1px solid $secondary
        transition: 0s
textarea
    &:focus
        outline: 1px solid $secondary
        transition: 0s
